<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MHike">
        <activity
            android:name=".HikeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SearchHikeActivity"
            android:exported="false" />
        <activity
            android:name=".AddObservationActivity"
            android:exported="false" />
        <activity
            android:name=".ObservationListActivity"
            android:exported="false"
            android:label="Observations" />
        <activity
            android:name=".AddHikeActivity"
            android:exported="false"
            android:label="Add/Edit Hike" />
        <activity
            android:name=".ConfirmHikeActivity"
            android:exported="false" />
        <activity
            android:name=".HikeListActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>